.texto_cartaz_redefria {
    color: #41748d;
    
}

.texto_titulo_redefria {
    margin-top: 20%;
    font-weight: bold;
}

.icones_redes {
    display: flex;
    justify-content: center;
    align-items: center;
}


.icon_fria {
    margin-left: 50px;
    margin-top: 15px;
    border-radius: 20px;
    color: #41748D;
}